

*{
    background-color:rgb(199, 73, 199);
    margin: 2px;
    padding: 2px;
    color:white
    
    }
    
    

    .result  {
        background-color: black;
        width: 50%;
        position: absolute;
        left: 25%;
        top: 10%;
        
    }
    .result h1, span {
        color: skyblue;
    }

    
    





    


    
       
    
